{% extends 'base.html' %}


{% block content %}

<div class="text-bg-info p-3">
<section class="container mt-5">

            <p class="display-6 fw-bold" align="center">
              " LATEST INFO "
            </p>
</section>


<section class="container mt-5">
<div class="text-bg-warning p-3">



Hitesos is also a place for the publication of calls for tender for employment, supplies, services
and others where the structures can make them and where the interested people can visit them.

The organizations that issue these invitations to tender will be able to find the best clients because
this platform reaches the different targets and each one finds his field according to his expertise.

Suppliers meet on Hitesos the demand for good quality products and services that meet their requirements.

Hitesos makes also a collection of call and announcements.
<br><br>



                       <h2 align="center">Calls for tender and latest info</h2>


<nav>
<ol type='a'>
<li><a href="https://www.intercontactservices.com/interhuman/offres-demploi">Intercontact</a></li>
<li><a href="https://reliefweb.int/jobs">Relief web International Jobs </a></li>
<li><a href="Appel d'offre d'un informaticien de maintenance HITESOS.html">Appel d'offre d'un informaticien de maintenance HITESOS</a></li>
<li><a href="https://unjobs.org/duty_stations/burundi">UN Jobs in Burundi</a></li>
<li><a href="https://unjobs.org">UN international jobs</a></li>
<li><a href="https://www.j360.info">J36 public contracts and procurement</a></li>
<li><a href="https://www.esoko.bi/">Isoko.bi</a></li>
<li><a href="https://www.jobinburundi.com/">Jobs in Burundi recently</a></li>
<li><a href="https://career012.successfactors.eu/career?career_company=C0000168410P&lang=en_GB&company=C0000168410P&site=&loginFlowRequired=true">WPF carreer</a></li>
<li><a href="https://rescue.csod.com/ats/careersite/ds.aspx?routename=ATS/CareerSite/MyProfile&site=1&c=rescue">IRC carreer</a></li>
<li><a href="https://careers.who.int/careersection/iam/accessmanagement/login.jsf?lang=en&redirectionURI=https%3A%2F%2Fcareers.who.int%2Fcareersection%2Fex%2Fjobsearch.ftl%3Fftlcompclass%3DLoginComponent%26lang%3Den&TARGET=https%3A%2F%2Fcareers.who.int%2Fcareersection%2Fex%2Fjobsearch.ftl%3Fftlcompclass%3DLoginComponent%26lang%3Den">WHO carreer</a></li>
<li><a href="https://www.impactpool.org/signin">UNDP carreer, USA aun European</a></li>
<li><a href="https://jobs.unicef.org/en-us/job/552955">UNFPA carreer</a></li>
<li><a href="https://erajobs.state.gov/dos-era/vacancysearch/searchVacancies.hms">USA embassy carreer</a></li>
<li><a href="https://www.google.com/search?q=Jobs+in+burundi&rlz=1C1GCEA_enBI908BI909&sxsrf=APq-WBuV8lBdvsIhlFCfbTgPEQZ_XGwxZQ:1649350915912&ei=AxlPYqyoN_jB5OUPhNGCqA4&uact=5&oq=Jobs+in+burundi&gs_lcp=Cgdnd3Mtd2l6EAMyBAgAEEMyBQgAEMsBMgUIABDLATIFCAAQgAQyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjoECCMQJzoICC4QsQMQgwE6CwgAEIAEELEDEIMBOgUILhCABDoLCC4QgAQQsQMQgwE6CAgAEIAEEMkDOgcIABDJAxBDOgoIABCABBCHAhAUOgcIABAKEMsBSgQIQRgASgQIRhgAUABYgzBgqDdoBHABeACAAYcEiAH7L5IBCjItMTEuNC4zLjGYAQCgAQHAAQE&sclient=gws-wiz&ibp=htl;jobs&sa=X&ved=2ahUKEwim-ruzn935AhU8h_0HHYOFAcgQudcGKAJ6BAgCECg#htivrt=jobs&htidocid=8bHWpOrqp8EAAAAAAAAAAA%3D%3D&fpstate=tldetail">Jobs in Burundi</a></li>





</ol>
</nav>

</div>
</section>
</div>
{% endblock content %}