{% extends 'base.html' %}


{% block content %}

<div class="text-bg-info p-3">
<section class="container mt-5">

            <p class="display-6 fw-bold" align="center">
              " SECURITY CAMERA "
            </p>
</section>


<section class="container mt-5">
<div class="text-bg-warning p-3">

In order to be informed about the situation of the place where are treasure,
HITESOS make at your disposition the equipment and services in need.
</div>
</section>
</div>
{% endblock content %}