{% extends 'base.html' %}


{% block content %}

<div class="text-bg-info p-3">
<section class="container mt-5">

            <p class="display-6 fw-bold" align="center">
              " HIGH-TECH SERVICES "
            </p>
</section>


<section class="container mt-5">
<div class="text-bg-warning p-3">

    Hitesos offers new technology services to companies and individuals anywhere in the world.



For example, it can provide you with the services of setting up surveillance cameras to strengthen
the security of your workplace or your home.
</div>
</section>
</div>
{% endblock content %}