{% extends 'base.html' %}


{% block content %}

<div class="text-bg-info p-3">
<section class="container mt-5">

            <p class="display-6 fw-bold" align="center">
              " WEBSITE DEVELOPMENT "
            </p>
</section>


<section class="container mt-5">
<div class="text-bg-warning p-3">

HITESOS is at your service in order to create de website for the Companies and every one in need.

The services offered by HITESOS are the services of Hight quality

</div>
</section>
</div>
{% endblock content %}