
{% extends 'base.html' %}


{% block content %}

<div class="text-bg-info p-3">
<section class="container mt-5">

            <p class="display-6 fw-bold" align="center">
              " MARKET SERVICES "
            </p>
</section>


<section class="container mt-5">
<div class="text-bg-warning p-3">

HITESOS givers to the trader and customer to sell and to buy different products and services.
For more details you can contact the office of HITESOS.
</div>
</section>
</div>
{% endblock content %}